@media screen and (max-width: 1200px) {
  header nav div.search-field {
    margin-top: 10px; } }

@media screen and (max-width: 1600px) {
  body main section#main-content {
    width: 80%; }
    body main section#main-content article.movie-post {
      width: 65%; }
      body main section#main-content article.movie-post div.movie-post-right {
        width: 77%; }
    body main section#main-content section#movie-comments {
      width: 939px;
      margin: 0 0 10px 0; }
  body footer div.footer-widget {
    margin-right: 40px; } }
