{{!--
<div>Home works!</div>
<div>Test Views</div>
<div class="row">
</div>
<div class="row">
</div> --}}
{{#each this}}
<article>
    <div>{{title}}</div>
    <div>{{director}}</div>
    <div>{{year}}</div>
</article>
{{/each}}