<div class="aside-component">
    <h3>RECENT COMMENTS</h3>
    <ul class="aside-ul">
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Fusce suscipit sapien sit amet </a></li>
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Sapien placerat ultrices</a></li>
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Vivamus sed massa ac metus</a></li>
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Posuere lorem sed ipsum </a></li>
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Quis eleifend ut sodales</a></li>
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Integer felis eu ipsum</a></li>
    </ul>
</div>
<div class="aside-component">
    <h3>RECENT POSTS</h3>
    <ul class="aside-ul">
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Fusce suscipit sapien sit amet </a></li>
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Sapien placerat ultrices</a></li>
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Vivamus sed massa ac metus</a></li>
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Posuere lorem sed ipsum </a></li>
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Quis eleifend ut sodales</a></li>
        <li><a class="aside-a" href="#/home/1"><img src="./assets/images/bullet-arrow.png" alt="arrow pointer">Integer felis eu ipsum</a></li>
    </ul>
</div>