$active-color-first: #9a1d0d;
@mixin bg-border-img-t-b {
  background-image: url('../../assets/images/article-b-border.png'), url('../../assets/images/article-b-border.png');
  background-position: top left, bottom left;
  background-repeat: repeat-x;
}

@mixin bg-border-img-b {
  background-image: url('../../assets/images/article-b-border.png');
  background-position: bottom left;
  background-repeat: repeat-x;
}

@mixin border-doted-b {
  border-bottom: 1px dotted gray;
}

/* Main -> Post */

main {
  /* Movie Post Article */
  section#main-content {
    width: 70.40%;
    /* Movie Post Paging Top */
    ul.main-paging-top {
      width: 70%;
    }
    /* Movie Post Article Main */
    article.movie-post {
      @include bg-border-img-t-b;
      float: left;
      width: 71.4%;
      height: 740px;
      margin: 14px 0 0 0;
      padding: 33px 6px 33px 33px;
      background-color: white;
      /* Left Side */
      .movie-post-left {
        float: left;
        width: 200px;
        div.article-container-head {
          position: relative;
          width: 100%;
          height: 100%;
          border: 7px solid #efefef;
          .article-category {
            position: absolute;
            top: 0;
            right: 0;
            padding: 6px 8px;
            font-size: 21px;
            background-color: $active-color-first;
            color: white;
          }
          .article-year {
            position: absolute;
            top: 34px;
            right: 0;
            padding: 7px 12px;
            font-size: 44px;
            text-shadow: 2px 2px 10px #000000;
            color: white;
          }
          img {
            width: 100%;
            height: 100%;
            z-index: -1;
          }
        }
        div.article-container-tags {
          p {
            display: inline-block;
            padding-top: 20px;
            font-size: 23px;
            text-transform: uppercase;
            color: black;
          }
          ul {
            margin: 5px 0;
            li {
              display: inline-block;
              padding: 10px 10px;
              margin: 1px;
              font-size: 15px;
              font-family: 'DroidSans';
              background-color: #efefef;
              color: #6e6e6e;
            }
          }
        }
        .article-container-body {
          p {
            margin-top: 26px;
            text-transform: uppercase;
            font-size: 25px;
          }
          ul {
            li {
              padding: 4px 0;
              a {
                font-size: 12px;
                font-family: 'Myriad Pro';
                text-decoration: none;
                color: #7a7575;
                img {
                  padding: 7px 8px 2px 2px;
                }
              }
            }
          }
        }
        .article-container-share {
          p {
            margin-top: 27px;
            font-size: 23px;
            text-transform: uppercase;
          }
          div.img-container {
            margin: 6px 0;
            img {
              margin: 10px 2px;
            }
          }
        }
      }
      /* Right Side */
      .movie-post-right {
        float: left;
        width: 81%;
        padding: 0 20px;
        h2 {
          font-size: 37px;
          text-transform: uppercase;
          color: $active-color-first;
        }
        h3 {
          @include border-doted-b;
          margin: 5px 2px;
          padding-bottom: 12px;
          font-size: 19px;
        }
        .cast-container {
          font-size: 19px;
          ul {
            display: block;
            li {
              display: block;
              margin: 4px 17px;
              font-family: 'DroidSans';
              font-size: 16px;
              span {
                padding: 0 6px;
                color: $active-color-first;
              }
            }
          }
        }
        .plot-summary {
          h4 {
            font-size: 19px;
          }
          p {
            padding: 8px 0 0 16px;
            font-family: 'DroidSans';
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
    /* Movie Post Aside */
    .movie-post-aside {
      margin: 14px 0 20px 16px;
      div.post-aside-component {
        @include bg-border-img-b;
        width: 376px;
        height: 184px;
        margin-bottom: 18px;
        background-color: #e7e7e7;
        /* Movie Post Aside Tablist */
        div.tablist {
          display: flex;
          button {
            @include border-doted-b;
            display: block;
            height: 59px;
            width: 126px;
            padding: 16px 26px 10px 10px;
            font-size: 30px;
            background-color: #d6d6d6;
            color: $active-color-first;
            border-right: 1px dotted gray;
            &:focus {
              background-color: #e7e7e7;
              outline: none;
            }
            &.aside-btn-l {
              border-right: none;
            }
          }
        }
        div.tabcontent {
          ul.tabitems {
            &>li {
              @include border-doted-b;
              display: flex;
              height: 68px;
              div.img-container {
                display: inline-block;
                height: 100%;
                padding: 14px 0 0 15px;
                img {
                  height: 43px;
                  border: 3px solid #d6d6d6;
                }
              }
              div.text-container {
                display: inline-block;
                height: 100%;
                padding: 16px 0 0 8px;
                a {
                  text-decoration: none;
                  display: inline-block;
                  h5 {
                    display: block;
                    margin-bottom: 5px;
                    font-size: 15px;
                    font-family: 'DroidSans';
                    font-weight: 500;
                    color: black;
                  }
                  p {
                    display: block;
                    padding: 0;
                    margin: 7px 10px 10px 4px;
                    font-size: 10px;
                    font-family: 'Georgia';
                    font-style: italic;
                    color: #a1a1a1;
                  }
                }
              }
              &:last-child {
                border-bottom: none;
              }
            }
          }
        }
        h4 {
          padding: 19px 19px 7px 21px;
          font-size: 30px;
          color: $active-color-first;
        }
        ul.aside-ul {
          border-top: 1px dotted gray;
          display: inline-block;
          width: 100%;
          font-family: 'Myriad Pro';
          li {
            padding: 13px 5px 0 4px;
            font-size: 15px;
            a.aside-a {
              text-decoration: none;
              color: #898484;
              img {
                padding: 5px 11px 5px 18px;
              }
            }
          }
        }
        p.post-aside-text {
          padding: 12px 25px 12px 22px;
          font-family: 'DroidSans';
          font-size: 13px;
          line-height: 19px;
          color: #8a8686;
        }
        &:first-of-type {
          height: 336px;
        }
      }
    }
    /* Movie Post Comments */
    #movie-comments {
      @include bg-border-img-t-b;
      display: block;
      width: 971px;
      margin-left: 13.7%;
      background-color: white;
      color: gray;
      .movie-comment-header {
        @include border-doted-b;
        display: block;
        padding: 36px 26px 19px 25px;
        font-size: 37px;
        text-transform: uppercase;
        color: $active-color-first;
      }
      div.movie-comment-container {
        @include border-doted-b;
        height: 160px;
        .movie-comment-img {
          float: left;
          width: 11%;
          padding: 30px 10px 10px 30px;
          img {
            height: 64px;
          }
        }
        .movie-comment-content {
          float: left;
          width: 88%;
          padding: 25px 10px 0 7px;
          h3 {
            margin-bottom: 2px;
            font-size: 24px;
            text-transform: uppercase;
          }
          p {
            font-size: 13px;
            line-height: 19px;
            font-family: 'DroidSans';
          }
        }
        button {
          float: right;
          margin: 10px 33px 0 10px;
          padding: 11px 13px;
          border: none;
          background-color: #efefef;
          font-size: 11px;
          font-family: 'DroidSans';
          text-transform: uppercase;
        }
        &.first-comment {
          border-bottom: none;
        }
      }
      div.movie-comment-container-reply {
        @include border-doted-b;
        height: 150px;
        .movie-comment-img.reply-comment-img {
          float: left;
          width: 20%;
          padding: 5px 10px 0 118px;
          img {
            height: 64px;
          }
        }
        .movie-comment-content.reply-comment-content {
          float: left;
          width: 80%;
          padding: 0 30px 0 7px;
          h3 {
            margin-bottom: 2px;
            font-size: 24px;
            text-transform: uppercase;
          }
          p {
            font-size: 13px;
            line-height: 19px;
            font-family: 'DroidSans';
          }
        }
        button {
          float: right;
          margin: 0 34px 0 10px;
          padding: 11px 13px;
          border: none;
          background-color: #efefef;
          font-size: 11px;
          font-family: 'DroidSans';
          text-transform: uppercase;
        }
      }
      .comment-form-container {
        height: 435px;
        padding: 36px 10px 10px 26px;
        text-transform: uppercase;
        h4 {
          color: $active-color-first;
          font-size: 37px;
        }
        #comment-submit-form {
          width: 525px;
          padding: 25px 0 25px 0;
          .comment-submit-form-fields {
            display: block;
            width: 345px;
            height: 39px;
            margin-bottom: 14px;
            padding: 0px 10px;
            background-color: #f6f6f6;
            border: 2px solid #d6d6d6;
            &:focus {
              outline: none;
            }
          }
          .comment-submit-form-text {
            display: block;
            padding: 10px;
            background-color: #f6f6f6;
            border: 2px solid #d6d6d6;
            &:focus {
              outline: none;
            }
          }
          .comment-submit-form-btn {
            float: right;
            margin: 20px 4px 35px 0;
            padding: 11px 13px;
            border: none;
            background-color: #efefef;
            font-size: 11px;
            font-family: 'DroidSans';
            text-transform: uppercase;
            &:disabled {
              color: #e7e7e7;
            }
          }
        }
      }
    }
  }
}