@font-face {
    font-family: 'LeagueGothic';
    src: url('../../assets/fonts/LeagueGothic-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'DroidSans';
    src: url('../../assets/fonts/DroidSans.ttf') format('truetype');
}

body {
    font-size: 18px;
    font-family: 'LeagueGothic';
    background: linear-gradient(to right, #1d1d1d 0%, #323232 25%, #323232 75%, #1d1d1d 100%);
}


/* Header */

.header {
    width: 100%;
    height: 100%;
    /* Header Logo */
    .header-logo {
        display: inline-block;
        margin-top: 122px;
        margin-left: 67px;
    }
    /* Header Navigation */
    nav.header-nav {
        display: block;
        margin: 25px 40px;
        ul.header-nav-menu {
            display: inline-block;
            margin-left: 33px;
            li {
                display: inline-block;
                /* .header-nav-a ??? */
                a {
                    padding: 9px;
                    border-radius: 10px 10px 0px 0px;
                    text-decoration: none;
                    color: white;
                    font-size: 25px;
                }
                a.btn-home {
                    color: #dcc08e;
                }
                /* Header Navigation Dropdown */
                ul.header-subnav-menu {
                    display: none;
                    position: absolute;
                    margin-top: 10px;
                    padding: 15px 15px 15px 9px;
                    background-color: #222222;
                    border-radius: 0px 10px 10px 10px;
                    z-index: 1;
                    li {
                        display: block;
                        padding: 6px 0px;
                        a {
                            font-size: 23px;
                            i {
                                padding: 0px 14px 0px 0px;
                            }
                        }
                    }
                    &:hover {
                        a:hover {
                            // background-color: #222222;
                            color: #dcc08e;
                            & i {
                                color: #9a1d0d;
                            }
                        }
                    }
                }
                &:hover {
                    // & i {
                    //     background-color: #9a1d0d;
                    // }
                    &>a.header-nav-a {
                        background-color: #222222;
                        color: #dcc08e;
                        & i {
                            color: #9a1d0d;
                        }
                    }
                    &>ul {
                        display: block;
                    }
                }
            }
        }
        /* Header Search bar */
        .search-field {
            float: right;
            padding: 7px 11px;
            margin-right: 90px;
            margin-top: -12px;
            background-color: #1e1e1e;
            input {
                margin-right: 3px;
                border-style: none;
                background-color: #1e1e1e;
                color: grey;
                font-family: Arial, Helvetica, sans-serif;
                font-style: italic;
                &:focus {
                    outline: none;
                }
            }
            img {
                height: 15px;
                width: 15px;
            }
        }
    }
}


/* Main -> Movies */

main {
    margin: 20px 75px;
    /* Main Paging Top */
    .main-paging-top {
        display: block;
        margin-left: 12px;
        margin-top: 2px;
        font-size: 14px;
        font-family: 'DroidSans';
        li {
            display: inline-block;
            text-decoration: none;
            margin-top: 5px;
            a {
                text-decoration: none;
                text-transform: capitalize;
                color: #686767;
                &:last-child {
                    color: #8e8e8e;
                }
            }
            i {
                margin: 0px 5px 0px 10px;
                color: #686767;
            }
        }
    }
    /* Main  Section */
    section {
        width: 100%;
        height: 100%; // margin-bottom: 38px;
        float: left; // display: inline-block;
        /* Main  Section Article */
        .movies-main {
            float: left;
            width: 229px;
            height: 480px;
            margin: 13px;
            padding: 3px 3px 0px 4px;
            color: #7a7575;
            background-color: white;
            div.article-container-head {
                position: relative;
                width: 100%;
                height: 330px; // box-shadow: inset 0 0 10px #000000;
                .article-category {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    padding: 6px 8px;
                    font-size: 21px;
                    background-color: #9a1d0d;
                    color: white;
                }
                .article-year {
                    position: absolute;
                    top: 34px;
                    right: 0;
                    padding: 7px 12px;
                    font-size: 44px;
                    text-shadow: 2px 2px 10px #000000;
                    color: white;
                }
                img {
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
            div.article-container-main {
                display: block;
                padding: 11px 10px;
                height: 94px;
                h2 {
                    color: #9a1d0d;
                    font-size: 26px;
                }
                p {
                    font-size: 20px;
                    margin: 3px 2px;
                    color: #222222;
                }
            }
            .article-text-a {
                padding: 15px;
                border-top: 2px dotted gray;
                background-image: url('../../assets/images/article-b-border.png');
                background-position: bottom left;
                background-repeat: repeat-x;
                a {
                    text-decoration: none;
                    color: #7a7575;
                    font-size: 20px;
                }
            }
            /* 2nd Article */
            &:nth-of-type(2) {
                width: 484px;
                height: 480px;
                margin: 13px 13px 13px 13px; // z-index: 2;
                .article-container-head {
                    // width: 100%;
                    height: 330px;
                    overflow: hidden;
                    background-color: grey;
                    box-shadow: inset 0 0 20px black;
                    img.poster-img {
                        display: block;
                        margin: 0 auto;
                        width: 50%;
                        height: 100%; // width: 200px;
                    }
                }
            }
        }
    }
    /* Main Aside*/
    aside {
        float: left; // height: 100%;
        margin: 0;
        display: block;
        .aside-widget {
            // height: 100%;
            margin: 33px 0px 20px 16px;
            div.aside-component {
                width: 230px;
                height: 280px;
                margin-bottom: 22px; // padding-top: 16px;
                // padding-left: 18px;
                background-color: #e7e7e7;
                background-image: url('../../assets/images/article-b-border.png');
                background-position: bottom left;
                background-repeat: repeat-x;
                h3 {
                    padding: 16px; // margin-bottom: 5px;
                    font-size: 30px;
                    color: #9a1d0d;
                }
                ul.aside-ul {
                    border-top: 1px dotted gray;
                    display: inline-block;
                    width: 100%;
                    font-family: 'Myriad Pro';
                    li {
                        padding: 8px 5px 5px 5px;
                        font-size: 15px;
                        a.aside-a {
                            text-decoration: none;
                            color: #898484;
                            img {
                                padding: 5px 14px 5px 11px;
                            }
                        }
                    }
                }
            }
        }
    }
    /* Main  Paging Bottom */
    nav.main-paging-bottom {
        clear: both;
        display: inline-block;
        width: 100%;
        height: auto;
        margin: 30px 0px 37px 0px;
        ul.main-paging-menu {
            text-align: center;
            li {
                display: inline-block;
                margin: 7px;
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 37px;
                }
                &.main-paging-left {
                    left: 0px;
                }
                &.main-paging-right {
                    text-align: end;
                }
            }
        }
    }
}


/* Main -> Post */

main {
    section#main-content {
        width: 70.40%;
        /* Main Paging Top */
        ul.main-paging-top {
            width: 70%;
        }
        /* Main Article */
        article.movie-post {
            float: left;
            width: 71.4%;
            height: 740px;
            margin: 17px 0px 0px 0px;
            padding: 33px;
            background-image: url('../../assets/images/article-b-border.png'), url('../../assets/images/article-b-border.png');
            background-repeat: repeat-x;
            background-position: top left, bottom left;
            background-color: white;
            /* Left Side*/
            .movie-post-left {
                float: left;
                width: 200px;
                div.article-container-head {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    border: 7px solid #efefef;
                    .article-category {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        padding: 6px 8px;
                        font-size: 21px;
                        background-color: #9a1d0d;
                        color: white;
                    }
                    .article-year {
                        position: absolute;
                        top: 34px;
                        right: 0;
                        padding: 7px 12px;
                        font-size: 44px; // text-shadow: 2px 2px 10px #000000;
                        color: white;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                    }
                }
                div.article-container-tags {
                    p {
                        display: inline-block;
                        padding-top: 20px;
                        font-size: 23px;
                        text-transform: uppercase;
                        color: black;
                    }
                    ul {
                        margin: 5px 0px;
                        li {
                            display: inline-block;
                            padding: 10px 10px;
                            margin: 1px;
                            font-size: 15px;
                            font-family: 'DroidSans';
                            background-color: #efefef;
                            color: #6e6e6e;
                        }
                    }
                }
                .article-container-body {
                    p {
                        margin-top: 26px;
                        text-transform: uppercase;
                        font-size: 25px;
                    }
                    ul {
                        li {
                            padding: 4px 0px;
                            a {
                                font-size: 12px;
                                font-family: 'Myriad Pro';
                                text-decoration: none;
                                color: #7a7575;
                                img {
                                    padding: 7px 8px 2px 2px;
                                }
                            }
                        }
                    }
                }
                .article-container-share {
                    p {
                        margin-top: 27px;
                        font-size: 23px;
                        text-transform: uppercase;
                    }
                    div.img-container {
                        margin: 6px 0px;
                        img {
                            margin: 10px 2px;
                        }
                    }
                }
            }
            /* Right Side*/
            .movie-post-right {
                float: left;
                width: 82%;
                padding: 0px 22px;
                h2 {
                    font-size: 37px;
                    text-transform: uppercase;
                    color: #9a1d0d;
                }
                h3 {
                    margin: 3px 0px;
                    font-size: 23px;
                }
                .cast-container {
                    font-size: 23px;
                    ul {
                        display: block;
                        li {
                            display: block;
                            margin: 4px 17px;
                            font-family: 'DroidSans';
                            font-size: 13px; // text-transform: uppercase;
                            span {
                                color: gray;
                            }
                        }
                    }
                }
            }
        }
    }
    .movie-post-aside {
        // height: 100%;
        margin: 33px 0px 20px 16px;
        div.post-aside-component {
            width: 376px;
            height: 280px;
            margin-bottom: 22px; // padding-top: 16px;
            // padding-left: 18px;
            background-color: #e7e7e7;
            background-image: url('../../assets/images/article-b-border.png');
            background-position: bottom left;
            background-repeat: repeat-x;
            h4 {
                padding: 16px; // margin-bottom: 5px;
                font-size: 30px;
                color: #9a1d0d;
            }
            ul.aside-ul {
                border-top: 1px dotted gray;
                display: inline-block;
                width: 100%;
                font-family: 'Myriad Pro';
                li {
                    padding: 8px 5px 5px 5px;
                    font-size: 15px;
                    a.aside-a {
                        text-decoration: none;
                        color: #898484;
                        img {
                            padding: 5px 14px 5px 11px;
                        }
                    }
                }
            }
        }
    }
}


/* Footer */

footer {
    width: 100%;
    height: 404px;
    padding: 47px 0px 0px 194px;
    background: linear-gradient(to right, #181818 0%, #2c2c2c 25%, #2c2c2c 75%, #181818 100%);
    border-top: 2px solid #4a4a4a;
    border-left: 4px solid #4a4a4a;
    box-shadow: 0px -1px 4px 0px #000000;
    div.footer-widget {
        float: left;
        width: 250px;
        margin-right: 90px;
        font-size: 12px;
        color: white;
        h3 {
            margin-bottom: 4px;
            font-size: 29px;
            color: #dcc08e;
        }
        li {
            font-family: 'DroidSans';
            padding: 9px 0px;
            a {
                text-decoration: none;
                color: #d1d1d1;
            }
            i {
                padding: 0px 8px 0px 1px;
                color: #5d5d5d;
            }
            &:hover {
                a {
                    text-decoration: none;
                    color: white;
                }
                i {
                    padding: 0px 8px 0px 1px;
                    color: #9a1d0d;
                }
            }
        }
        p {
            font-family: 'DroidSans';
            line-height: 20px;
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}

.to-uppercase {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.activate-aside {
    width: 76%;
}

.movie-post-paging {
    margin-left: '83px';
    margin-bottom: '13px';
}

.active-state {
    color: #dcc08e;
}
