@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/LeagueGothic-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans.ttf') format('truetype');
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: 'LeagueGothic';
    background: linear-gradient(to right, #1d1d1d 0%, #323232 25%, #323232 75%, #1d1d1d 100%);
    /* smooth background, but much brighter*/
    // background: linear-gradient(to right, #333333 0%, #666666 25%, #666666 75%, #333333 100%);
}

.header-logo {
    margin-top: 122px;
    margin-left: 66px;
}

.header {
    nav.header-nav {
        display: inline-block;
        ul.header-nav-menu {
            margin-left: 33px;
            li {
                display: inline-block;
                margin: 0px 8px;
                /* .header-nav-a ??? */
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 25px; // &.btn-home {
                    //     color: #dcc08e;
                    // }
                }
                a.btn-home {
                    color: #dcc08e;
                }
                ul.header-subnav-menu {
                    display: none;
                    position: absolute;
                    li {
                        display: block;
                    }
                }
                &:hover {
                    // & i {
                    //     background-color: #9a1d0d;
                    // }
                    &>a {
                        background-color: #222222;
                        color: #dcc08e;
                        & i {
                            color: #9a1d0d;
                        }
                    }
                    &>ul {
                        display: block;
                    }
                }
            }
        }
    }
    .search-field {
        // display: inline-block;
        float: right;
        background-color: #1e1e1e;
        input {
            border-style: none;
            background-color: #1e1e1e;
            color: grey;
            font-family: Arial, Helvetica, sans-serif;
            font-style: italic;
        }
        img {
            height: 15px;
            width: 15px;
        }
    }
}

.main-nav {
    .main-nav-menu {
        margin-left: 720px;
        margin-top: 760px;
        li {
            display: inline-block;
            margin: 0px 8px;
            a {
                text-decoration: none;
                color: white;
                font-size: 32px;
            }
        }
    }
}
