@font-face {
  font-family: 'LeagueGothic';
  src: url("../fonts/LeagueGothic-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'DroidSans';
  src: url("../fonts/DroidSans.ttf") format("truetype"); }

body {
  font-size: 18px;
  font-family: 'LeagueGothic';
  background: linear-gradient(to right, #1d1d1d 0%, #323232 25%, #323232 75%, #1d1d1d 100%);
  /* smooth background, but much brighter*/ }

.header-logo {
  margin-top: 122px;
  margin-left: 66px; }

.header nav.header-nav {
  display: inline-block;
  margin: 10px; }
  .header nav.header-nav ul.header-nav-menu {
    margin-left: 33px; }
    .header nav.header-nav ul.header-nav-menu li {
      display: inline-block;
      /* .header-nav-a ??? */ }
      .header nav.header-nav ul.header-nav-menu li a {
        padding: 9px;
        border-radius: 10px 10px 0px 0px;
        text-decoration: none;
        color: white;
        font-size: 25px; }
      .header nav.header-nav ul.header-nav-menu li a.btn-home {
        color: #dcc08e; }
      .header nav.header-nav ul.header-nav-menu li ul.header-subnav-menu {
        display: none;
        position: absolute;
        background-color: #222222;
        border-radius: 10px; }
        .header nav.header-nav ul.header-nav-menu li ul.header-subnav-menu li {
          display: block;
          padding: 0px 10px; }
          .header nav.header-nav ul.header-nav-menu li ul.header-subnav-menu li i {
            padding: 8px; }
      .header nav.header-nav ul.header-nav-menu li:hover > a {
        background-color: #222222;
        color: #dcc08e; }
        .header nav.header-nav ul.header-nav-menu li:hover > a i {
          color: #9a1d0d; }
      .header nav.header-nav ul.header-nav-menu li:hover > ul {
        display: block; }

.header .search-field {
  float: right;
  background-color: #1e1e1e; }
  .header .search-field input {
    border-style: none;
    background-color: #1e1e1e;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic; }
  .header .search-field img {
    height: 15px;
    width: 15px; }

main article {
  float: left;
  width: 150px;
  color: white;
  background-color: gray; }

main .main-nav .main-nav-menu li {
  display: inline-block;
  margin: 0px 8px; }
  main .main-nav .main-nav-menu li a {
    text-decoration: none;
    color: white;
    font-size: 32px; }

footer div.footer-widget {
  float: left;
  width: 250px;
  color: white; }
